.dashboard-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 250px;
  background-color: #f8f9fa; // O el color de ITB Conecta
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid #e0e0e0;
}

.sidebar {
  width: 240px;
  min-height: 100vh;
  background: white;
  border-right: 1px solid #e5e5e5;
  padding: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.sidebar-top{  //aca centre Menu

    background:#0d3b66;
    padding:10px;
    border-radius:10px;
    margin-bottom:10px;
    display:flex;
    align-items:center;
    justify-content:center;
  
}

.sidebar-top h2{
    color:white;
    margin:0;
    font-size:22px;
    text-align: center;
    
}

nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

nav a {
  display: block;
  text-decoration: none;
  color: #333;
  font-weight: 300;
  padding: 30px;
  border-radius: 8px;
  transition: 0.3s;
}

nav a:hover{
  background:#f2f4f7;
}

.logout {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 15px;

  padding-top: 20px;
  margin-top: 20px;

  border-top: 1px solid #dcdcdc;
}

.sidebar-top{
    background:#0d3b66;
    padding:10px;
    border-radius:100px;
    margin-bottom:10px;
    

    display:flex;
    align-items:center;
    gap:12px;
}

.sidebar-top img{
    width: 80px;;
    height: 80px;;
    object-fit:contain;
}
.main-content {
  flex: 1; // Ocupa todo el resto de la pantalla
  padding: 30px;
  overflow-y: auto; // Por si el formulario de perfil es largo
}

