<div class="registro-container">
  
  <h2>¿Quieres registrarte como postulante?</h2>

  <p>
    Completa los datos para acceder al Sistema de intermediación Laboral
  </p>

  <form
    [formGroup]="formRegistro"
    (ngSubmit)="registrarPostulante(); $event.preventDefault()">

    <!-- NOMBRES -->
    <div class="form-group">

      <label>Nombres:</label>

      <input
        type="text"
        formControlName="nombres"
        placeholder="Ej: Juan Pablo">

    </div>

    <!-- APELLIDOS -->
    <div class="form-group">

      <label>Apellidos:</label>

      <input
        type="text"
        formControlName="apellidos"
        placeholder="Ej: Pérez Garcia">

    </div>

    <!-- DNI -->
    <div class="form-group">

      <label>DNI:</label>

      <input
        type="text"
        formControlName="dni"
        placeholder="Solo números, sin puntos">

      @if (formRegistro.get('dni')?.invalid &&
           formRegistro.get('dni')?.touched) {

        <div class="error-msg">

          @if (formRegistro.get('dni')?.errors?.['required']) {
            <small>El DNI es obligatorio.</small>
          }

          @if (formRegistro.get('dni')?.errors?.['pattern']) {
            <small>Solo se permiten números.</small>
          }

        </div>

      }

    </div>

    <!-- LEGAJO -->
    <div class="form-group">

      <label>Legajo:</label>

      <input
        type="text"
        formControlName="legajo"
        placeholder="Número dado por ITB">

    </div>

    <!-- CARRERA -->
    <div class="form-group">

      <label>Carrera:</label>

      <input
        type="text"
        formControlName="carrera"
        placeholder="Ej: Analista de Sistemas">

    </div>

    <!-- EMAIL -->
    <div class="form-group">

      <label>Correo Electrónico:</label>

      <input
        type="email"
        formControlName="email"
        placeholder="Ej: usuario@ibeltran.com.ar">

      @if (formRegistro.get('email')?.invalid &&
           formRegistro.get('email')?.touched) {

        <div class="error-msg">

          @if (formRegistro.get('email')?.errors?.['required']) {
            <small>El correo es obligatorio.</small>
          }

          @if (formRegistro.get('email')?.errors?.['email']) {
            <small>Formato de correo no válido.</small>
          }

        </div>

      }

    </div>

    <!-- PASSWORD -->
    <div class="form-group">

      <label>Contraseña</label>

      <div class="password-container">

        <input
          [type]="mostrarPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="Mínimo 8 caracteres">

        <!-- OJITO -->
        <span class="ojo" (click)="togglePassword()">

          <i
            class="fa-solid"
            [class.fa-eye]="mostrarPassword"
            [class.fa-eye-slash]="!mostrarPassword">
          </i>

        </span>

      </div>

      @if (formRegistro.get('password')?.invalid &&
           formRegistro.get('password')?.touched) {

        <div class="error-msg">

          @if (formRegistro.get('password')?.errors?.['required']) {
            <small>La contraseña es obligatoria.</small>
          }

          @if (formRegistro.get('password')?.errors?.['minlength']) {
            <small>Debe tener al menos 8 caracteres.</small>
          }

          @if (formRegistro.get('password')?.errors?.['pattern']) {
            <small>
              Debe contener al menos una mayúscula y un número.
            </small>
          }

        </div>

      }

    </div>
    <!-- CONFIRMAR PASSWORD -->
<div class="form-group">

  <label>Confirmar Contraseña</label>

  <div class="password-container">

    <input
      [type]="mostrarPassword ? 'text' : 'password'"
      formControlName="confirmPassword"
      placeholder="Repetí tu contraseña">

    <!-- OJITO -->
    <span class="ojo" (click)="togglePassword()">

      <i
        class="fa-solid"
        [class.fa-eye]="mostrarPassword"
        [class.fa-eye-slash]="!mostrarPassword">
      </i>

    </span>

  </div>

  @if (
    formRegistro.get('confirmPassword')?.touched &&
    formRegistro.get('password')?.value !==
    formRegistro.get('confirmPassword')?.value
  ) {

    <div class="error-msg">
      <small>Las contraseñas no coinciden.</small>
    </div>

  }

</div>

    <!-- BOTON crear cuenta -->
    <button type="submit">
  Crear Cuenta
</button>

  </form>
  <div class="acciones-extra">

  <!-- VOLVER -->
  <button
    type="button"
    class="btn-volver"
    routerLink="/registrar">

    ← Volver

  </button>

  <!-- YA TENGO CUENTA -->
  <button
    type="button"
    class="btn-login"
    routerLink="/sesion">

    Ya tengo cuenta

  </button>


</div>